* {
    box-sizing: border-box;
    margin: 0;
}


/* cria as colunas iguaizinhas */
.column {
  float: left;
  padding: 10px;
  height: 34.57em; 
}

.left, .right {
  width: 25%;
  height: 100vh;
}

.middle {
  width: 50%;
  height: 100vh;    
}

/* limpa a flutuações das colunas*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

#fac{
    margin-top: 1em;
    margin-left: 15em;
}

h2 {
    margin-top: 0.5em;
    margin-left: 8.5em;
    font-family: Major Mono Display;
}

#result{
    margin: 10px 12.5em;
}